// base colors
$white: #fff;
$base-black: #706b73;
$base-red: #fc7254;
$base-text: #626262;
$bg-grey: #f5f5f5;
$bg-tomi: #4eb2f7;
$bg-koimona: #c049f8;
$bg-koire: #817eff;
$bg-lara: #f74770;
$bg-services-list: #fbfbfb;
$yellow: #ffef3b;
$gray: #b0afaf;
$bg-footer: #fbfbfb;